html, 
body, 
.xr-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}
.xr-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}
body {
    z-index: 1;
}


#description {
    pointer-events: auto;
    font-family: sans-serif;
    padding: 1em;
    background-color:rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position:absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
}
#description > * {
    pointer-events: none;
}


button {
    font-size: 16px;
}

#go-button { margin: 20px; }

.text-box {
    position: absolute;
    top: 5%;
    left: 50%;
    color: white;
    background: rgba(27,55,55,0.75);;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    margin: 0px 0 0 -50px;
    font-size: 0.8em;
}

.common-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* instruction modal */
.instruction-modal{
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    display: flex; /* Align center */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.instruction-modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: zoom-in;
    -webkit-animation-duration: 1s;
    animation-name: zoom-in;
    animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes zoom-in {
     0% {
        transform: scale(0,0);
        opacity: 0;
      }
      100% {
        transform: scale(1, 1);
        opacity: 1;
      }
  }
  
  @keyframes zoom-in {
     0% {
        transform: scale(0,0);
        opacity: 0;
      }
      100% {
        transform: scale(1, 1);
        opacity: 1;
      }
  }

  /* The Close Button */
.instruction-modal-close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.instruction-modal-header{
    padding: 2px 16px;
    color: white;
}

.instruction-modal-body{
    padding: 2px 16px;
}