#photoModeContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

#mainUIContainer{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

#colorSelectContainer{
  position: absolute;
  left: 10%;
  /*top: 0;*/
  bottom: 0;
  /*right: 0;*/
  z-index: 10;
  pointer-events: none;
}

#flash {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
}

.flash #flash {
  opacity: 1;
  transition: 0s;
  pointer-events: auto;
}

#photoModeImage {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 5px white;
  border-radius: 2vmax;
  opacity: 0;
  transition: 0.5s;
}

.photo #photoModeImage {
  opacity: 1;
  transition: 0s;
  pointer-events: auto;
}

#shutterButton{
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  background-color: white;
  bottom: 2vmax;
  border-radius: 7.5vmin;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
}

#closeButton{
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  background-color: white;
  bottom: 2vmax;
  border-radius: 7.5vmin;
  left: 25%;
  transform: translateX(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
}

#confirmButton {
  position: absolute;
  width: 45vmin;
  height: 10vmin;
  background-color: white;
  bottom: 3vmax;
  border-radius: 7.5vmin;
  left: 65%;
  transform: translateX(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
}

#shutterButton {
  background-image: url('./assets/camera.png');
}

.photo #shutterButton {
  display: none;
}

#closeButton {
  background-image: url('./assets/close.png');
  display: none;
}

.photo #closeButton {
  display: block;
}

#confirmButton {
  background-image: url('./assets/confirm.png');
  display: none;
}

.photo #confirmButton {
  display: block;
}

#cardAlign {
  background-image: url('./assets/cardAlign.png');
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7.5vmin;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.photo #cardAlign {
  display: block;
}

#tryOnButton {
  background-image: url('./assets/phoneHold.png');
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  background-color: white;
  bottom: 2vmax;
  border-radius: 7.5vmin;
  left: 50%;
  transform: translateX(-50%);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
  display: block;
}

.photo #tryOnButton {
  display: none;
}

.colorButton {
  background-image: url(./assets/colorSwatch.png);
  width: 15vmin;
  height: 15vmin;
  bottom: 2vmax;
  border-radius: 7.5vmin;
  left: 50%;
  z-index: 11;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
  display: inline-block;
}

.tryOn #confirmButton {
  display: none;
}
.tryOn #cancelButton {
  display: none;
}
.tryOn #shutterButton {
  display: none;
}