#nav-container {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 7.5%;
    border: 0ch;
    z-index: 1;
}

/* #camera-button {
    position: absolute;
    width: 16.60%;
    height: 100%;
    bottom: 0;
    left: 0%;
    border: 2px solid white;
    background-color: rgb(22, 95, 179);
    z-index: 99;
} */

#remove-button {
    position: absolute;
    width: 33.33%;
    height: 100%;
    bottom: 0;
    left: 0%;
    border: 2px solid white;
    background-color: rgb(22, 95, 179);
    background-image: url("./assets/UI/reload.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index: 99;
}

#list-button {
    position: absolute;
    width: 33.33%;
    height: 100%;
    bottom: 0;
    left: 66.66%;
    border: 2px solid white;
    background-color: rgb(22, 95, 179);
    background-image: url("./assets/UI/list.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index: 99;
}

#add-button {
    position: absolute;
    width: 33.33%;
    height: 100%;
    bottom: 0;
    left: 33.33%;
    border: 2px solid white;
    background-color: rgb(22, 95, 179);
    background-image: url("./assets/UI/plus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index: 99;
}

/* #submit-button {
    position: absolute;
    width: 40%;
    height: 100%;
    bottom: 0;
    left: 60%;
    border: 2px solid white;
    background-color: rgb(22, 95, 179);
    background-image: url("./assets/UI/submit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    z-index: 99;
} */


#list-container {
    position: absolute;
    width: 80%;
    height: 75%;
    left: 10%;
    top: 10%;
    background-color: aliceblue;
    z-index: 1;
    overflow: scroll;
}
